@import '~@fontsource/inter/index.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
  
    // Default styles for mobile devices
    font-size: 16px;
  
    // Styles for tablets
    @media (min-width: 600px) {
      font-size: 18px;
    }
  
    // Styles for desktops
    @media (min-width: 1024px) {
      font-size: 20px;
    }
}